<p id="notice"><%= notice %></p>
<div class="paintingmainimage">
  <%= image_tag @piece.artimage_url %>
</div>

<div class="paintingmaindetails">
<p>
  <b>Name:</b>
  <%= @piece.name %>
</p>

<p>
  <b>Price:</b>
  <%= @piece.price %>
</p>

<p>
  <b>Arttype:</b>
  <%= @piece.arttype %>
</p>

<p>
  <b>Stocknumber:</b>
  <%= @piece.stocknumber %>
</p>



<p>
  <b>Artist:</b>
  <%= @artist.firstname %> <%= @artist.surname %>
</p>

<p>
  <b>Category:</b>
  <%= @piece.category %>
</p>

</div>
<% if current_user.admin? %>
<%= link_to 'Edit', edit_piece_path(@piece) %> 


<% else %>

<a href="/cart/<%= @piece.id %>"><img src="/assets/add.png"></a> |
<% end %>

<%= link_to 'Back', pieces_path %>
